<div className="s1fu0t3w" style="--s1fu0t3w-0: 10px">
  <div className="wssuqyr">
    <div className="w14dsuj8">
      <div className="r1fekfqr">
        <span className="r1dkxj1s">Low vegetation index</span
        ><span className="r1dkxj1s">High</span>
      </div>
      <ul className="s11dx267">
        <li
          className="s1yss67b"
          style="
            --s1yss67b-0: linear-gradient(
              90deg,
              #350801 0%,
              #7e1805 5.55556%,
              #af3a03 11.1111%,
              #ecb225 16.6667%,
              #fcd731 22.2222%,
              #fee85f 27.7778%,
              #fefe00 33.3333%,
              #f2f900 38.8889%,
              #c4e700 44.4444%,
              #97d500 50%,
              #5fc100 55.5556%,
              #379f00 61.1111%,
              #1c8300 66.6667%,
              #0b6400 72.2222%,
              #064b0a 77.7778%,
              #033a0f 83.3333%,
              #02310c 88.8889%,
              #02310c 94.4444%
            );
          "
        ></li>
      </ul>
    </div>
    <div className="w14dsuj8">
      <div className="r1fekfqr">
        <span className="r1dkxj1s">&nbsp;</span><span className="r1dkxj1s">Clouds</span>
      </div>
      <div className="c4ghlvv"></div>
    </div>
  </div>
</div>
